body {
	background: #d4c7b9;
}

h1,h2,footer {
	padding: 0.2em;
	text-align: center;
}

nav{
	float:left;
	width:100%;
}
nav, footer {
	background: #45525a;
	color: #ffe9ba;
	border-radius: 10px;
}
nav a {
	float: left;
	display: block;
	width: 23%;
	padding: 1%;
	font-size: 110%;
	color: #ffe9ba;
	text-align: center;
}

section {
	clear:both;
}

img {
	max-width: 100%;
	height: auto;
	border-radius:10px;
}

footer {
	clear:both;
}


.srodek {
	text-align: center;
}

.slajd {
	float:left;
	display:block;
	width:13%;
	text-align:center;
	border-radius:10px;
	background:#ffe9ba;
	padding:1% 0.5%;
	margin:1%;
}
.slajd:hover {
	background:#45525a;
}

.galeria{
	margin:auto;
	width:90%;
}


@media screen and (max-width: 720px) {
	body {
		background: #d4c7b9;
	}
	nav, footer {
		background: #45525a;
		color: #ffe9ba;
		border-radius: 10px;
	}
	nav a { width: 96%;
		padding: 5px 0;
		font-size: 180%;
		width: 45%;
	}
	.slajd { width: 45%; }
	.slajd img { width: 85%; }
}
@media screen and (min-width: 481px) and (max-width: 720px) {
	body { font-size: 13px; }
	h1 { font-size: 23px; }
	h2 { font-size: 18px; }
}
@media (max-width: 480px) {
	body {
		background: #d4c7b9;
	}
	nav, footer {
		background: #45525a;
		color: #ffe9ba;
		border-radius: 10px;
	}
	nav a { width: 96%;
		padding: 5px 0;
		font-size: 180%;
		width: 100%;
	}
	.slajd { width: 100%; }
	.slajd img { width: 80%; }
}
@media only screen and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
	body {
		background: #45525a;
		color: #ced1d6;
	}
	nav, footer {
		background: #d4c7b9;
		color: white;
		border-radius: 10px;
	}
	h1, h2, h3 {
		color: white;
	}
	nav a { width: 36%;
		color: #3c3c3d;
		font-size: 160%;
		width: 45%;
	}
	.slajd {
		background: #696b6e;
		width: 45%;
	}
	.slajd:hover { background: #c0c7d1; }
	.slajd img { width: 65%; }
}