#slideshow {
	position: relative;
	height: 200px;
}
#slideshow img{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
}
#slideshow img.active {
	z-index: 10;
}
#slideshow img.last-active {
	z-index: 9;
}