body {
    background: white;
    color: #000040;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

label {
	cursor: help;
}

table {
    background: #ffffb3;
    text-align: center;
    width: 94%;
    margin: 2%;
    border: 1pt solid #000040;
}

caption {
    font-size: 150%
}

tfoot, thead {
    background: #0000a0;
    color: #ffffff;
    font-size: 120%
}
tfoot a {
    color: #ffffff;
}

td, th {
    border: 1pt solid #000040;
}

tbody tr:nth-child(2), tbody tr:nth-child(4) {
	  background: white;
}

h1, h2, header, footer {
    background: #000040;
    color: #f0f0ff;
    text-align: center;
}

/*nav {
  background: #ffffff;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #0000a0;
}
nav li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 3px;
	font-family: "LucidaGrande", sans-serif;
	font-size: 85%;
}
nav a {
	float: left;
	display: block;
	margin: 0;
	padding: 4px 8px;
	color: #ffffd7;
	text-decoration: none;
	border: 1px solid #0000c6;
	border-bottom: none;
	background: #0000a0;
}
nav a:hover {
	background: #0000d5;
	color: #ffffff;
	text-decoration: none;
}*/

aside {
	float: right;
	width: 20%;
	padding: 1%;
}

footer {
	clear: both;
	width: 100%;
	padding: 5px 0 5px 0;
	text-align: center;
	border-radius: 12px;
}


#kontener {
	background: #ffffff;
	float: center;
	width: 90%;
	height: 100%;
}

#tresc {
  background: #c2e7ff;
	float: left;
	width: 75%;
	padding: 1%;
	border-radius: 3px;
}

#nav {
	text-align: left;
	overflow: hidden;
	font-family: calibri, tahoma;
}
ul#nav li {
	border: 1px solid #d5d5d5;
	list-style-type: none;
	float: left;
	background: #98bed8;
	margin-left: 3px;
	border-radius: 4px;
	box-shadow: 2px 1px blueviolet;
}
ul#nav li:hover {
	border: 1px solid #d5d5d5;
	list-style-type: none;
	float: left;
	background: #f0f0f0;
	margin-left: 3px;
}
ul#nav li a {
	display: block;
	padding: 4pt;
	text-decoration: none;
}
ul#nav li li a {
	width: 160px;
}
ul#nav li li:hover {
	background: white;
}
ul#nav li ul {
	overflow: hidden;
	display: none;
}
ul#nav li:hover ul {
	position: absolute;
	background: #aaa;
	padding: 0;
	display: block;
	width: 177px;
}

#link {
	color: #ffffff;
	text-decoration: underline;
}


*.box {
	background: #0000a0;
	color: #dbffff;
	padding: 5px;
	margin: 5px;
	font-size: 90%;
	border-radius: 6px;
	box-shadow: 1px 3px navajowhite;
}
*.box a {
	color: #ffffb0
}
