body {
    background: #4ae;
    color: #000040;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2, #stopka {
    background: #000040;
    color: #8080ff;
    text-align: center;
}

#stopka {
	clear:both;
	width:100%;
	padding:5px 0 5px 0;
	text-align:center;
}

#tresc {
    background: #c2e7ff;
	float:left;
	width:60%;
	padding:1%;
}

#menu {
    background: #ffffff;
	float:left;
	width:16%;
	padding:1%;
}

#pasek {
	float:right;
	width:16%;
	padding:1%;
}

#link {
	color: #ffffff;
	text-decoration: underline;
}

#kontener {
	background:#ffffff;
}


*.box { background:#0000a0;
color:#dbffff;
padding:5px;
margin:5px;
font-size:90%;}
*.box a{color:#ffffb0}


/* TABELA */
 /* ustawienia dla całej tabeli: */
table {
    background: #ffffb3;
    text-align: center;
    width: 94%;
    margin: 2%;
    border: 1pt solid #000040;
}
 /*ustawienie tytułu tabeli:*/
caption {
    font-size: 150%
}
 /*formatowanie części nagłówkowej i stopki tabeli: */
tfoot, thead {
    background: #0000a0;
    color: #ffffff;
    font-size: 120%
}
 /*formatowanie pojedynczych komórek zwykłych i nagłówkowych: */
td, th {
    border: 1pt solid #000040;
}
 /*formatowanie elementu <a> zawartego w elemencie <tfoot>: */
tfoot a {
    color: #ffffff;
}
*.parzysty {
    background: #ffffff;
}

label {
	cursor: help;
}
