body {
    background: #4ae;
    color: #000040;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

label {
	cursor: help;
}

table {
    background: #ffffb3;
    text-align: center;
    width: 94%;
    margin: 2%;
    border: 1pt solid #000040;
}

caption {
    font-size: 150%
}

tfoot, thead {
    background: #0000a0;
    color: #ffffff;
    font-size: 120%
}
tfoot a {
    color: #ffffff;
}

td, th {
    border: 1pt solid #000040;
}

h1, h2, #stopka {
    background: #000040;
    color: #f0f0ff;
    text-align: center;
}


#kontener {
	background: #ffffff;
	float: center;
	width: 90%;
	height: 100%;
}

#menu {
    background: #ffffff;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #0000a0;
}
#menu li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 3px;
	font-family: "LucidaGrande", sans-serif;
	font-size: 85%;
}
#menu a {
	float: left;
	display: block;
	margin: 0;
	padding: 4px 8px;
	color: #ffffd7;
	text-decoration: none;
	border: 1px solid #0000c6;
	border-bottom: none;
	background: #0000a0;
}
#menu a:hover {
	background: #0000d5;
	color: #ffffff;
	text-decoration: none;
}

#tresc {
    background: #c2e7ff;
	float: left;
	width: 75%;
	padding: 1%;
}

#pasek {
	float: right;
	width: 20%;
	padding: 1%;
}

#stopka {
	clear: both;
	width: 100%;
	padding: 5px 0 5px 0;
	text-align: center;
}

#link {
	color: #ffffff;
	text-decoration: underline;
}


*.box {
	background: #0000a0;
	color: #dbffff;
	padding: 5px;
	margin: 5px;
	font-size: 90%;
}
*.box a {
	color: #ffffb0
}

*.parzysty {
    background: #ffffff;
}
