/* ustawienia dla ca³ej tabeli: */
table {
    background: #ffffb3;
    text-align: center;
    width: 94%;
    margin: 2%;
    border: 1pt solid #000040;
}
/*ustawienie tytu³u tabeli:*/
caption {
    font-size: 150%
}
/*formatowanie czêœci nag³owkowej i stopki tabeli: */
tfoot, thead {
    background: #0000a0;
    color: #ffffff;
    font-size: 120%
}
/*formatowanie pojedynczych komórek zwyk³ych i nag³ówkowych: */
td, th {
    border: 1pt solid #000040;
}
/*formatowanie elementu <a> zawartego w elemencie <tfoot>: */
tfoot a {
    color: #ffffff;
}
/* definicja klasy o nazwie parzysty - mozna
j¹ zastosowaæ dla dowolnego znacznika w dokumencie html
podaj¹c atrybut class="parzysty" :*/
*.parzysty {
    background: #ffffff;
}